<div class="card" style="width: 300px">
    <img src="https://www.dropbox.com/s/wyoyk77fe1rdng3/Championjpeg.jpg?raw=1" class="card-img-top" style="max-height: 400px;">
    <h4 class="card-header text-center">Champion</h4>
    <div class="card-body">
        <h6 class="card-text">A warrior infused with magical power to strike down rivals and heal allies</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Life : 42</li>
            <li class="list-group-item">Attack : 3</li>
            <li class="list-group-item">Defense : 15</li>
            <li class="list-group-item">Magic : 3</li>
            <li class="list-group-item">Speed : 1</li>
            <li class="list-group-item">Charm : 1</li>
            <li class="list-group-item">Equipment : Broadsword and Shield</li>
          </ul>
          <button (click)="createPlayer(name)" class="btn btn-dark">Choose Champion</button>
    </div>

</div>
